<main.mt-5="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width:500px;;">
            <div class="card-header">
                <img class="card-img-top mx-auto m-2 rounded-circle" src="/img/Logo.png" alt="Logo" style="width:150px;heigt:150px;display:block">
                <h3 class="text-uppercase text-center p-4">Crud con node js y mysql</h3>
            </div>
            <div class="card-body text-center">
                <p> La App para una mejor salud física y mental, mayor energía, pérdida de peso. Además, promoverá un estilo de vida activo y sostenible a largo plazo</p>
                <a href="/add" class="btn btn-primary">Crear una persona</a>
            </div>
        </div>
    </div>
</main>